.custom-ordered-list li::marker {
  font-size: 2rem;
  /* Adjust the font size as needed */
}

.truncate-bottom {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  display: -webkit-box;
  max-height: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}